<launch>
    <include file="$(find iiwa_gazebo)/launch/iiwa_gazebo.launch">
    </include>
    <!-- <include file="$(find allegro_toolkit)/launch/power_grasp.launch">
    </include> -->

    <node name="limbo_interfaceng" pkg="iiwa_toolkit" type="limbo_interface" output="screen">
    </node>

    <rosparam file="$(find iiwa_toolkit)/config/limbo_interface_params.yaml" command="load"/>

    <node name="plotter"
            pkg="rqt_plot"
            type="rqt_plot"
            args="/iiwa/plotvar/data[0] /iiwa/plotvar/data[1] /iiwa/plotvar/data[2]" >
    </node>
</launch>
